* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;

    font-size: 20px;
    overflow: hidden;
    background: #eee;
}
#header {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px 0;
}

#tab {
    text-align: left;
    background: #eee;
    margin-left: 3%;

}
html, body, #container, #content, #tab {
  height: 100%;
}
